<div class="panel panel-info" ng-if="::content.indicator.results" ng-init="results_limit = 20">
    <div class="panel-heading">
        urlscan.io search results
        <span class="pull-right" ng-show="::content.indicator.results.length > 20">
            <a href ng-show="results_limit===20" ng-click="results_limit = undefined">Show All ({{::content.indicator.results.length}})</a>
            <a href ng-show="!results_limit" ng-click="results_limit = 20">Show less</a>
        </span>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>URL</th>
                <th>Result</th>
                <th>Time</th>
            </tr>
            <tr ng-repeat="r in content.indicator.results | limitTo:results_limit | orderBy:'-task.time'">
                <td>{{r.page.url | ellipsis:40}}</td>
                <td>
                    <a href="https://urlscan.io/result/{{r._id}}" target="_blank">https://urlscan.io/result/{{r._id}}</a>
                </td>
                <td>{{r.task.time}}</td>
            </tr>
        </table>
    </div>
</div>

<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal" ng-if="content.errorMessage">
            <dt>
                <i class="fa fa-warning"></i> urlscan.io: </dt>
            <dd class="wrap">{{content.errorMessage}}</dd>
        </dl>
    </div>
</div>
