<div class="panel panel-info" ng-if="success">
	<div class="panel-heading">
		Onyphe Datascan - <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
	</div>
	<div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                My IP
            </dt>
            <dd>
                {{content.datascan.myip}}
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                Number of results
            </dt>
            <dd>
                {{content.datascan.count}}
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                Error(s)
            </dt>
            <dd>
                {{content.datascan.error}}
            </dd>
        </dl>

		<table class="table" ng-if="content.datascan.results.length !== 0 ">
            <thead>
                <th>Category</th>
                <th>Type</th>
                <th>ASN</th>
                <th>Country</th>
                <th>IPv4</th>
                <th>Organisation</th>
                <th>Location</th>
                <th>Port</th>
                <th>Protocol</th>
                <th>OS</th>
                <th>Product</th>
                <th>Product Version</th>
                <th>Seen Date</th>
                <th>Data MD5</th>
            </thead>
            <tbody ng-repeat="r in content.datascan.results | orderBy:'-seen_date'">
                <tr>
                    <td>{{r["@category"]}}</td>
                    <td>{{r["@type"]}}</td>
                    <td>{{r.asn}}</td>
                    <td>{{r.country}}</td>
                    <td>{{r.ip}}</td>
                    <td>{{r.organization}}</td>
                    <td>{{r.location}}</td>
                    <td>{{r.port}}</td>
                    <td>{{r.protocol}}</td>
                    <td>{{r.os}}</td>
                    <td>{{r.product}}</td>
                    <td>{{r.productversion}}</td>
                    <td>{{r.seen_date}}</td>
                    <td>{{r.datamd5}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- General error -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>