<span ng-repeat="(k,v) in content">
    <span ng-switch="k">
        <span ng-switch-when="clean" class="label label-success" ng-if="v === true">
            JSB:Clean
        </span>
        <span ng-switch-when="malicious" class="label label-danger" ng-if="v === true">
            JSB:Malicious={{content.score}}/{{content.maxscore}}
        </span>
        <span ng-switch-when="suspicious" class="label label-danger" ng-if="v === true">
            JSB:Suspicious={{content.score}}/{{content.maxscore}}
        </span>
    </span>
</span>
