	<div class="panel panel-danger" ng-if="success && content.values.length > 0">
		<div class="panel-heading">
			AbuseIPDB Report for {{artifact.data | fang}}
		</div>
		<div class="panel-body">
			<table class="table table-striped" ng-if="content.values">
				<thead>
					<tr>
						<th>Created Date</th>
						<th>Abuse Confidence Score</th>
						<th>ISO Code</th>
						<th>Country</th>
						<th>Withelisted</th>
						<th>Categories</th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="r in content.values | orderBy:'-created'">
						<td>{{r.created}}</td>
						<td><span class="text" 
							ng-class="{ 'text-danger': r.abuseConfidenceScore >=70 ,'text-warning': r.abuseConfidenceScore < 70, 'text-success': r.abuseConfidenceScore == 0}">{{r.abuseConfidenceScore}}</span></td>
						<td>{{r.isoCode}}</td>
						<td>{{r.country}}</td>
						<td>{{r.isWhitelisted}}</td>
						<td>
							<span ng-repeat="c in r.categories_strings"><span class="label label-primary">{{c}}</span> </span>
						</td>

					</tr>					
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel panel-success" ng-if="success && content.values.length == 0">
		<div class="panel-heading">
			AbuseIPDB Report
		</div>
		<div class="panel-body">
			<span>No matches.</span>
		</div>
	</div>

	<!-- General error  -->
	<div class="panel panel-danger" ng-if="!success">
		<div class="panel-heading">
			<strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
		</div>
		<div class="panel-body">
			<dl class="dl-horizontal" ng-if="content.errorMessage">
				<dt><i class="fa fa-warning"></i> AbuseIPDB:</dt>
				<dd class="wrap">{{content.errorMessage}}</dd>
			</dl>
		</div>
	</div>


