<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>

<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        <!-- <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong> -->
        <strong>Cymon.io : {{(artifact.data || artifact.attachment.name) | fang}}</strong>

    </div>
    <div class="panel-body">

        <h4>
            <strong>
                {{(artifact.data || artifact.attachment.name) | fang}} is associated to:
            </strong>
        </h4>
        <div>
            <dl ng-repeat="(k,v) in content.Founds" class="dl-horizontal">
                <dt ng-if="v">{{k}}</dt>
                <dd ng-repeat="l in content[k]">{{l}}</dd>
            </dl>
        </div>

        <dl class="dl-horizontal">
            <dt>permalink</dt>
            <dd><a href="{{content.permalink}}">{{content.permalink}}</a></dd>
        </dl>

    </div>
</div>
