<style>
    .label {
        margin-right: 3px;
    }
</style>

<div class="panel panel-danger" ng-if="!success || !content.ip">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.message || 'Error while retrieving information'}}
    </div>
</div>

<div ng-if="success && content.ip">
    <div class="panel panel-info">
        <div class="panel-heading">
                <strong>CrowdSec</strong> record for "{{artifact.data}}"</a>
                <br/>
                <a target="_blank" href="https://app.crowdsec.net/cti/{{artifact.data}}">view more on app.crowdsec.net</a>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal" ng-if="content.reverse_dns">
                <dt>Reverse DNS</dt>
                <dd class="wrap">{{content.reverse_dns}}</dd>
            </dl>
            <dl class="dl-horizontal" ng-if="content.ip_range">
                <dt>Range</dt>
                <dd class="wrap">{{content.ip_range}}</dd>
            </dl>
            <dl class="dl-horizontal" ng-if="content.as_name">
                <dt>Autonomous System</dt>
                <dd class="wrap">{{content.as_name}}</dd>
            </dl>
            <dl class="dl-horizontal" ng-if="content.location">
                <dt>Location</dt>
                <dd class="wrap">{{content.location.city}} {{content.location.country}}</dd>
            </dl>
            <hr>
            <dl class="dl-horizontal" ng-if="content.history.first_seen">
                <dt>First seen</dt>
                <dd class="wrap">{{content.history.first_seen}}</dd>
            </dl>
            <dl class="dl-horizontal" ng-if="content.history.last_seen">
                <dt>Last seen</dt>
                <dd class="wrap">{{content.history.last_seen}}</dd>
            </dl>
            <br>
            <dl class="dl-horizontal" ng-if="content.behaviors">
                <dt>Known For</dt>
                <dd class="wrap">
                    <span class="label label-default label-danger" title="{{b.description}}" ng-repeat="b in ::content.behaviors">
                        {{b.label}}
                    </span>
                </dd>
            </dl>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>Attacks details</strong>
        </div>

        <dl class="dl-horizontal" ng-if="content.classifications.classifications">
            <dt>Classification</dt>
            <dd class="wrap">
                <span class="label label-default label-info" title="{{c.description}}" ng-repeat="c in ::content.classifications.classifications">
                    {{c.label}}
                </span>
            </dd>
        </dl>
        <dl class="dl-horizontal" ng-if="content.classifications.false_positives">
            <dt>False Positive</dt>
            <dd class="wrap">
                <span class="label label-default" title="{{fp.description}}" ng-repeat="fp in ::content.classifications.false_positives">
                    {{fp.label}}
                </span>
            </dd>
        </dl>
        <hr>
        <dl class="dl-horizontal" ng-if="content.attack_details">
            <dt>Attacks</dt>
            <dd class="wrap">
                <span class="label label-default label-danger" title="{{a.description}}" ng-repeat="a in ::content.attack_details">
                    {{a.label}}
                </span>
            </dd>
        </dl>

        <div class="panel-body">
            <p>Aggressiveness (0 to 5)
            </p>
            <table class="table table-hover">
                <tr>
                    <th>Overall</th>
                    <th>Last day</th>
                    <th>Last week</th>
                    <th>Last month</th>
                </tr>
                <tr>
                    <td>{{content.scores.overall.aggressiveness}}</td>
                    <td>{{content.scores.last_day.aggressiveness}}</td>
                    <td>{{content.scores.last_week.aggressiveness}}</td>
                    <td>{{content.scores.last_month.aggressiveness}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>