<div class="panel panel-ingo" ng-if="success">
  <div class="panel-heading">
    Vulners information for <strong>{{artifact.data | fang}}</strong>
  </div>
  <div class="panel-body">
    <div>
      <dl class="dl-horizontal">
        <dt>First seen</dt>
        <dd>{{content.first_seen | limitTo : 10}}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Last seen</dt>
        <dd>{{content.last_seen | limitTo : 10}}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Score</dt>
        <dd>{{content.ioc_score}}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt ng-if="content.tags">Tags</dt>
        <dd ng-if="content.tags">
          <span ng-repeat="tag in content.tags" class="label label-danger">
            {{tag}}
          </span>
        </dd>
      </dd>
      </dl>
      <dl class="dl-horizontal" ng-if="content.fp_descr">
        <dt>Possible FP</dt>
        <dd>
          <span class="label label-warning">
            {{content.fp_descr}}
          </span>
        </dd>
      </dl>
      <dl class="dl-horizontal" ng-if="content.asn_info">
        <dt>Asn info</dt>
        <dd>
          ASN {{content.asn_info.num}}: First IP {{content.asn_info.firstip.netv4}}, Last IP {{content.asn_info.lastip.netv4}}<br />
          ASN name "{{content.asn_info.isp}}"<br />
          ASN hosts {{content.asn_info.domains}} domains<br />
        </dd>
      </dl>
      <dl class="dl-horizontal" ng-if="content.geo_info">
        <dt>Geo info</dt>
        <dd>
          Country: {{content.geo_info.country}}<br />
          Region: {{content.geo_info.region}}<br />
          City: {{content.geo_info.city}}<br />
        </dd>
      </dl>
    </div>
    <p><br>Source info:
        <a href="https://vulners.com/rst/{{content.ioc_url}}" target="_blank">https://vulners.com/rst/{{content.ioc_url}}</a>
    </p>
  </div>
</div>

<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
  <div class="panel-heading">
    <strong>{{(artifact.data) | fang}}</strong>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal" ng-if="content.errorMessage">
      <dt><i class="fa fa-warning"></i> ANALYZERNAME: </dt>
      <dd class="wrap">{{content.errorMessage}}</dd>
    </dl>
  </div>
</div>