*.py[cod]

thehive-templates/*.zip
thehive-templates/*.sh

.idea
.DS_Store
.vscode
.venv 
venv

Cortex-analyzers.iml

# python-venv
bin
lib
lib64
pyvenv.cfg
share

test-doc
test_doc
analyzers/*/input
analyzers/*/output
responders/*/input
responders/*/output
analyzers/*/cortexutils
