<!-- Success -->
<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        Hashdd report for <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
            <dl class="dl-horizontal" ng-if="content.known_level">
                <dt>Known Level</dt>
                <dd>{{content.known_level || "No known level given."}}</dd>
            </dl>
    </div>
</div>

<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
