<div class="panel panel-success" ng-if="success && content.signIns.length == 0">
    <div class="panel-heading">
        Azure Sign Ins
    </div>

    <div class="panel-body">
        Analyzers searched for: {{content.filterParameters}}
    </div>
</div>

<div class="panel panel-primary" ng-if="success && content.signIns.length > 0">
    <div class="panel-heading">
        Azure Sign Ins
    </div>

    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SignIn ID</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>IP</th>
                    <th>App Name</th>
                    <th>Risk</th>
                    <th>Device ID</th>
                    <th>Device Name</th>
                    <th>Device OS</th>
                    <th>Cond'l Access</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr ng-repeat="r in content.signIns" ng-style="{ 'background-color': r.locationDetails.countryOrRegion == 'US' && r.locationDetails.state != 'STATE' ? '#ebc27c' : r.locationDetails.countryOrRegion != 'COUNTRY' ? '#eb807c' : 'inherit' }"> -->
                <tr ng-repeat="r in content.signIns">
                    <td title={{r.id}}>{{r.id | limitTo: 8}}</td>
                    <td>{{r.basicDetails.signInTime}}</td>
                    <td title={{r.basicDetails.result}}>{{r.basicDetails.result | limitTo: 7}}</td>
                    <td title={{r.basicDetails.ip}} ng-if="r.basicDetails.ip.length > 15">IPv6</td>
                    <td ng-if="r.basicDetails.ip.length <= 14">{{r.basicDetails.ip}}</td>
                    <td>{{r.basicDetails.appName}}</td>
                    <td>{{r.basicDetails.riskLevel}}</td>
                    <td ng-if="r.deviceDetails.id == 'Not Available'">Not Available</td>
                    <td ng-if="r.deviceDetails.id != 'Not Available'" title={{r.deviceDetails.id}}>{{r.deviceDetails.id | limitTo: 8}}</td>
                    <td>{{r.deviceDetails.deviceName}}</td>
                    <td>{{r.deviceDetails.operatingSystem}}</td>
                    <td ng-if="r.appliedConditionalAccessPolicies == 'None'">No</td>
                    <td ng-if="r.appliedConditionalAccessPolicies != 'None'">Yes</td>
                    <td>{{r.locationDetails.city}}, {{r.locationDetails.state}}, {{r.locationDetails.countryOrRegion}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-primary" ng-if="success && content.signIns.length > 0">
    <div class="panel-heading">
        Expanded Information
    </div>

    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SignIn ID</th>
                    <th>IPv6</th>
                    <th>App Name</th>
                    <th>Client App</th>
                    <th>Resource Name</th>
                    <th>Applied CAPs</th>
                    <th>Device ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in content.signIns">
                    <td>{{r.id}}</td>
                    <td ng-if="r.basicDetails.ip.length > 15">{{r.basicDetails.ip}}</td>
                    <td ng-if="r.basicDetails.ip.length <= 14">IPv4</td>
                    <td>{{r.basicDetails.appName}}</td>
                    <td>{{r.basicDetails.clientApp}}</td>
                    <td>{{r.basicDetails.resourceName}}</td>
                    <td>{{r.appliedConditionalAccessPolicies}}</td>
                    <td>{{r.deviceDetails.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

        

<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal" ng-if="content.errorMessage">
            <dt><i class="fa fa-warning"></i> GetAzureSignIns:</dt>
            <dd class="wrap">{{content.errorMessage}}</dd>
        </dl>
    </div>
</div>
