{
    "data":"http://51.8.124.178/file.e",
    "dataType":"url",
    "tlp":0,
    "config":{
        "max_tlp":3,
        "check_tlp":true,
        "service":"SearchIOC",
        "url":"https://<ip>>",
        "key":"<qradar-api-key>",
        "verify":false,
        "search_timeout": 7200
    },
    "proxy":{
        "http":"",
        "https":""
    }
}