<div class="panel panel-info" ng-if="success">
  <div class="panel-heading">
    URLhaus search results for
    <strong>{{artifact.data}}</strong>
  </div>
  <div class="panel-body">
    <p ng-if="content.results.length == 0">
      No result found.
    </p>
    <table class="table" ng-if="content.results">
      <thead>
        <th>Dateadded (UTC)</th>
        <th>Malware URL</th>
        <th>Status</th>
        <th>Tags</th>
        <th>GSB</th>
        <th>Reporter</th>
      </thead>
      <tbody ng-repeat="r in content.results">
        <tr>
          <td>{{r.dateadded}}</td>
          <td>
            <a href="https://urlhaus.abuse.ch{{r.link}}" target=”_blank”>
              {{r.malware_url}}
            </a>
          </td>
          <td><span  class="label" ng-class="{'Offline': 'label-success', 'Online':'label-danger'}[r.status]">{{r.status}}</span></td>
          <td>
            <span class="label label-primary mr-xxs" ng-repeat="tag in r.tags"> {{tag}} </span>
          </td>
          <td><span class="label" ng-class="{'Clean': 'label-success', '!Clean':'label-warning'}[r.gsb]">{{r.gsb}}</span></td>
          <td>{{r.reporter}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
  <div class="panel-heading">
    <strong>{{artifact.data | fang}}</strong>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal" ng-if="content.errorMessage">
      <dt>
        <i class="fa fa-warning"></i> urlscan.io: </dt>
      <dd class="wrap">{{content.errorMessage}}</dd>
    </dl>
  </div>
</div>
