<div class="report-WOT" ng-if="success">
    <style>
        .report-WOT dl {
            margin-bottom: 2px;
        }
    </style>

    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>General Information</strong>
        </div>
        <div class="panel-body">

            <div ng-if="content.Trustworthiness">
                <h4>Trustworthiness</h4>
                <dl class="dl-horizontal">
                    <dt>Reputation</dt>
                    <dd>{{content.Trustworthiness.Reputation}}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Confidence</dt>
                    <dd>{{content.Trustworthiness.Confidence}}</dd>
                </dl>   
            </div>

            <div ng-if="content.Child_Safety">
                <h4>Child Safety</h4>
                <dl class="dl-horizontal">
                    <dt>Reputation</dt>
                    <dd>{{content.Child_Safety.Reputation}}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Confidence</dt>
                    <dd>{{content.Child_Safety.Confidence}}</dd>
                </dl>   
            </div>

            <div ng-if="content.Blacklists">
                <h4>Blacklists</h4>
                <br>
                <dl class="dl-horizontal" ng-repeat="blk in content.Blacklists track by $index">
                    <dt>{{ blk[0] }}</dt>
                    <dd>{{ blk[1] }}</dd>
                </dl>
            </div>           

            <div ng-if="content.Categories">
                <h4>Categories</h4>
                <br>
                <dl class="dl-horizontal" ng-repeat="ctg in content.Categories track by $index">
                    <dd>{{ ctg }}</dd>
                </dl>
            </div>  

        </div>
    </div>

</div>


<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>