<!-- Success -->
<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        <strong>Summary</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Score</dt>
            <dd>{{content.data.risk.score}}/100</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Criticality</dt>
            <dd>{{content.data.risk.criticalityLabel}} ({{content.data.risk.criticality}})</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Risk summary</dt>
            <dd>{{content.data.risk.riskSummary}}</dd>
        </dl>
        <a href="{{content.data.intelCard}}" target="_blank" class="btn btn-primary" role="button">Intel Card</a>
    </div>
    <div class="panel-heading">
        <strong>Triggered Risk Rules</strong>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>Criticality</th>
                <th>Rule</th>
                <th>Evidence</th>
            </tr>
            <tr ng-repeat="evidence in content.data.risk.evidenceDetails">
                <td>
                    <span ng-class="{'text-success': evidence.criticality == 0, 'text-warning': evidence.criticality > 0, 'text-danger': evidence.criticality > 2}">
                        {{evidence.criticalityLabel}}
                    </span>
                </td>
                <td>{{evidence.rule}}</td>
                <td class="wrap">{{evidence.evidenceString}}</td>
            </tr>
        </table>
    </div>
</div>

<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal" ng-if="content.errorMessage">
            <dt><i class="fa fa-warning"></i>Error:</dt>
            <dd class="wrap">{{content.errorMessage}}</dd>
        </dl>
    </div>
</div>
