<div ng-if="success">
    <style>
    pre.input {
      color: #a94442;
      border: none;
      font-size: 10px;
      //word-wrap: break-word;
      //word-break: break-all;
      white-space: pre-wrap;
      background-color: #f9f1f1;
    }
    pre.output {
      //color: #367fa9;
      border: none;
      font-size: 10px;
      word-wrap: break-word;
      word-break: break-all;
      white-space: pre-wrap;
      background-color: black;
    }
    </style>

    <div class="panel panel-info">
        <div class="panel-heading">
            CyberChef Data Conversion
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Input</th>
                    <th>Output</th>
                </tr>
                <tr>
                    <td width="40%"><pre class="input">{{content.input_data }}</pre></td>
                    <td><pre class="output">{{content.output_data}}</pre></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong><i class="fa fa-warning"></i> CyberChef - Error for {{artifact.data}}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Error:</dt>
            <dd class="wrap">{{content.errorMessage}}</dd>
        </dl>
    </div>
</div>
