<!-- Success -->
<!-- This template directly depends on LDAP attributes, so, it need to be adapted to your needs. -->
<!-- Add, modify or remove all the 'xxx' in all variable {{result.xxx}} as you will. -->
<div ng-repeat="result in ::content.results | limitTo:5" ng-if="success && content.results.length > 0">
    <div class="panel panel-info">
        <div class="panel-heading">
            {{result.cn}} - {{result.uid}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                  <dl class="dl-horizontal" ng-if="::result.cn">
                      <dt>Full Name</dt>
                      <dd class="wrap">{{result.cn}}</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal" ng-if="::result.title">
                        <dt>Country</dt>
                        <dd class="wrap">{{result.c}}</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <dl class="dl-horizontal" ng-if="::result.mail">
                      <a href="mailto:{{result.mail}}"><dt>E-mail</dt></a>
                      <dd class="wrap">{{result.mail}}</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal" ng-if="::result.uid">
                        <dt>UID</dt>
                        <dd class="wrap">{{result.uid}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Success but no result -->
<div ng-if="success && content.results.length === 0">
    <div class="panel panel-info">
        <div class="panel-heading">
            No result
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                      <dt>Message</dd>
                      <dd class="wrap"><b>LdapQuery was successfuly executed but returned no result.</b></dd>
                  </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Filtered resluts -->
<div class="panel panel-warning" ng-if="success && content.filtered">
    <div class="panel-heading">
        {{content.filtered.data}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
              <dl class="dl-horizontal" ng-if="content.filtered.message">
                  <dt>Message</dt>
                  <dd class="wrap"><b>{{content.filtered.message}}</b></dd>
              </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <dl class="dl-horizontal" ng-if="content.filtered.data">
                  <dt>Data</dt>
                  <dd class="wrap">{{content.filtered.data}}</dd>
              </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal" ng-if="content.filtered.data_type">
                    <dt>Data type</dt>
                    <dd class="wrap">{{content.filtered.data_type}}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <dl class="dl-horizontal" ng-if="content.filtered.whitelist">
                  <dt>Whitelist</dt>
                  <dd class="wrap">{{content.filtered.whitelist}}</dd>
              </dl>
            </div>
        </div>
    </div>
</div>

<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>