<div class="report-Nessus" ng-if="success">
    <style>
        .report-Nessus dl {
            margin-bottom: 2px;
        }
        .report-Nessus .nessus-info {
            background-color: #3B4CA1;
        }
        .report-Nessus .nessus-low {
            background-color: #79AB3D;
        }
        .report-Nessus .nessus-medium {
            background-color: #D5C920;
        }
        .report-Nessus .nessus-high {
            background-color: #D39F27;
        }
        .report-Nessus .nessus-critical {
            background-color: #C61010;
        }
    </style>

    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>Nessus Report</strong>
        </div>
        <div class="panel-body">
            <!-- <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Scanner Information</strong>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal" ng-if="content.info">
                        <dt>Scanner Name</dt>
                        <dd>{{content.info.scanner_name}}</dd>
                        <dt>Policy</dt>
                        <dd>{{content.info.policy}}</dd>
                        <dt>Scan</dt>
                        <dd>{{content.info.name}}</dd>
                        <dt>Status</dt>
                        <dd>{{content.info.status}}</dd>
                    </dl>
                </div>
            </div> -->
            <h4>Scanner Information</h4>
            <dl class="dl-horizontal" ng-if="content.info">
                <dt>Scanner Name</dt>
                <dd>{{content.info.scanner_name}}</dd>
                <dt>Policy</dt>
                <dd>{{content.info.policy}}</dd>
                <dt>Scan</dt>
                <dd>{{content.info.name}}</dd>
                <dt>Status</dt>
                <dd>{{content.info.status}}</dd>
            </dl>
            <br>
            <hr>
            <h4>Scan Reports</h4>
            <div ng-if="content.hosts" ng-repeat="host in content.hosts">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{host.hostname}}</strong>
                    </div>
                    <div class="panel-body">
                        <br>
                        <dl  class="dl-horizontal" nf-if="content.hosts" >
                            <dt>Checks</dt>
                            <dd>{{host.scanprogresscurrent}}/{{host.scanprogresstotal}}</dd>
                            <dt>{{host.severity}} vulnerabilities</dt>
                            <dd>
                                <div class="progress">
                                    <div class="progress-bar nessus-info" ng-style="{width:(host.info *100)/(host.severity)+'%'}">
                                        <span>{{host.info}}</span>
                                    </div>
                                    <div class="progress-bar nessus-low" ng-style="{width:(host.low *100)/(host.severity)+'%'}">
                                        <span>{{host.low}}</span>
                                    </div>
                                    <div class="progress-bar nessus-medium" ng-style="{width:(host.medium *100)/(host.severity)+'%'}">
                                        <span>{{host.medium}}</span>
                                    </div>
                                    <div class="progress-bar nessus-high" ng-style="{width:(host.high *100)/(host.severity)+'%'}">
                                        <span>{{host.danger}}</span>
                                    </div>
                                    <div class="progress-bar nessus-critical" ng-style="{width:(host.critical *100)/(host.severity)+'%'}">
                                        <span>{{host.critical}}</span>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <br>
                        <table class="table">
                            <thead>
                                <th style="text-align: center">Severity</th>
                                <th>Plugin Name</th>
                                <th>Plugin Family</th>
                                <th>Count</th>
                            </thead>
                            <tbody ng-repeat="vuln in content.vulnerabilities | orderBy:'-severity'">
                                <tr>
                                    <td style="text-align: center">
                                        <span ng-switch="vuln.severity">
                                            <span ng-switch-when="0" class="label nessus-info">
                                                INFO
                                            </span>
                                            <span ng-switch-when="1" class="label nessus-low">
                                                LOW
                                            </span>
                                            <span ng-switch-when="2" class="label nessus-medium">
                                                MEDIUM
                                            </span>
                                            <span ng-switch-when="3" class="label nessus-high">
                                                HIGH
                                            </span>
                                            <span ng-switch-when="4" class="label nessus-critical">
                                                CRITICAL
                                            </span>
                                        </span>
                                    </td>
                                    <td>{{vuln.plugin_name}}</td>
                                    <td>{{vuln.plugin_family}}</td>
                                    <td>{{vuln.count}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
