<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        Backscatter.io results for <strong>{{artifact.data}}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal" ng-repeat="(k,v) in content.results">
            <dt>{{k}}</dt>
            <dd>{{v || '-'}}</dd>
        </dl>
        <div class="empty-message" ng-if="!content.results">No records found for {{artifact.data}}</div>
    </div>
</div>

<!-- General error -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>