<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        <strong>Detailed Information</strong>
    </div>
    <div class="panel-body">
        <div ng-if="content.length === 0">
            No records found
        </div>
        <div ng-if="content.length > 0">
            <div ng-repeat="event in content" class="mb-s">
                <h4 class="text-primary">{{event.info || 'Event #'+event.id}}</h4>
                <dl class="dl-horizontal">
                    <dt>Event ID</dt>
                    <dd class="wrap"><a href="{{event.url}}" target="_blank">{{event.id}}</a></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>UUID</dt>
                    <dd class="wrap">{{event.uuid}}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Publish Date</dt>
                    <dd class="wrap" ng-if="event.publish_timestamp !== 0">{{event.publish_timestamp | showDate}}</dd>
                    <dd class="wrap" ng-if="event.publish_timestamp === 0"><em>Not Specified</em></dd>
                </dl>
                <dl class="dl-horizontal" ng-if="event.tags.length > 0">
                    <dt>Tags</dt>
                    <dd class="wrap">
                        <tag-list data="event.tags"></tag-list>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
