<div class="panel panel-info" ng-repeat="res in content.results">
	<div class="panel-heading">
		<b>{{res.name}}</b> - Report from {{res.url}}
	</div>
	<div class="panel-body">
		<div ng-if="res.result.errors.length > 0">
			<dl class="dl-horizontal" ng-repeat="error in res.result.errors">
				<dt><i class="fa fa-warning"></i> Error:</dt>
				<dd>{{error}}</dd>
            </dl>
        </div>
        <div ng-if="res.result.length < 1">
			<dl class="dl-horizontal">
				<dt><i class="fa fa-warning"></i> No results</dt>
				<dd>No results from {{res.name}}</dd>
			</dl>
		</div>
		<div ng-repeat="event in res.result">
			<dl class="dl-horizontal">
				<dt>EventID:</dt>
				<dd><a target="_blank" href="{{res.url}}/events/view/{{event.id}}">{{event.id}}</a></dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Event info:</dt>
				<dd>{{event.info}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>UUID:</dt>
				<dd>{{event.uuid}}</dd>
			</dl>
            <dl class="dl-horizontal">
				<dt>From:</dt>
				<dd>{{event.Orgc.name}}</dd>
			</dl>
			<dl class="dl-horizontal" ng-if="event.Tag.length > 0" >
				<dt>Tags:</dt>
				<dd ng-repeat="tag in event.Tag">
                    <span ng-if="tag.colour==='#ffffff'" class="label"
                    ng-style="{'border':'1px solid','color': '#000000', 'background-color': tag.colour}">{{tag.name}}
                    </span>
                    <span ng-if="tag.colour!=='#ffffff'" class="label"
                    ng-style="{'background-color': tag.colour}">{{tag.name}}
                    </span>
                </dd>
			</dl>
			<dl class="dl-horizontal" ng-if="event.Galaxy.length > 0">
				<dt>Cluster:</dt>
				<dd>
					<div ng-repeat="cluster in event.Galaxy">
						<span ng-repeat="clusterentry in cluster.GalaxyCluster">{{clusterentry.name}}: {{clusterentry.value}}</span>
					</div>
				</dd>
			</dl>
			<dl c lass="dl-horizontal" ng-if="event.RelatedEvent.length > 0">
				<dt>Related events:</dt>
				<dd>
					<div ng-repeat="rel in event.RelatedEvent">
						<a target="_blank" href="{{res.url}}/events/view/{{rel.id}}">{{rel.info}}</a><br />
					</div>
				</dd>
			</dl>
            <hr>
            <br>
		</div>
	</div>
</div>


<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
