<div class="panel panel-info" ng-if="success">
	<div class="panel-heading">
		<a target="_blank" href="http://circl.lu/services/passive-dns/">CIRCL.lu</a> Passive DNS Report
	</div>
	<div class="panel-body">

		<!-- Domain details -->
        <p ng-if="content.results.length == 0">
            No result found.
        </p>
        <table class="table" ng-if="content.results">
            <thead>
                <th>Count</th>
                <th>rrtype</th>
                <th>rdata</th>
                <th>First time</th>
                <th>Last time</th>
            </thead>
            <tbody ng-repeat="r in content.results | orderBy:'-time_last'">
                <tr>
                    <td>{{r.count}}</td>
                    <td>{{r.rrtype}}</td>
                    <td>{{r.rdata}}</td>
                    <td>{{r.time_first}}</td>
                    <td>{{r.time_last}}</td>
                </tr>
            </tbody>
        </table>
	</div>
</div>


<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
    	<dl class="dl-horizontal" ng-if="content.errorMessage">
            <dt><i class="fa fa-warning"></i> PassiveDNS: </dt>
            <dd class="wrap">{{content.errorMessage}}</dd>
        </dl>
    </div>
</div>
