<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        GreyNoise results for <strong>{{artifact.data}}</strong>
    </div>
    <div class="panel-body">
        <table class="table" ng-if="content">
            <thead>
                <th>Classification</th>
                <th>Last update</th>
                <th>Actor</th>
                <th>Cve</th>
                <th>Tags</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{content.classification}}</td>
                    <td>{{content.last_seen}}</td>
                    <td>{{content.actor}}</td>
                    <td>{{content.cve.join(', ')}}</td>
                    <td>{{content.tags.join(' ,')}}</td>
                </tr>
                <tr>
                    <td colspan="5">
                        Metadata:
                        <pre>{{content.metadata | json}}</pre>
                    </td>
                </tr>
            </tbody>
        </table>
        <p ng-if="!content.data">No records found for {{artifact.data}}.</p>
    </div>
</div>

<!-- General error -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>