<div class="panel panel-info" ng-repeat="res in content.results">
	<div class="panel-heading">
		{{res.name}} Report from {{res.url}}
	</div>
	<div class="panel-body">
		<div ng-if="res.result.errors.length > 0">
			<dl class="dl-horizontal" ng-repeat="error in res.result.errors">
				<dt><i class="fa fa-warning"></i> Error:</dt>
				<dd>{{error}}</dd>
			</dl>
		</div>
		<div ng-repeat="event in res.result.response">
			<dl class="dl-horizontal">
				<dt>EventID:</dt>
				<dd><a target="_blank" href="{{res.url}}/events/view/{{event.Event.id}}">{{event.Event.id}}</a></dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Event info:</dt>
				<dd>{{event.Event.info}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>UUID:</dt>
				<dd>{{event.Event.uuid}}</dd>
			</dl>
			<dl class="dl-horizontal" ng-repeat="tag in event.Event.Tag">
				<dt>Tag:</dt>
				<dd>{{tag.name}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Cluster:</dt>
				<dd>
					<div ng-repeat="cluster in event.Event.Galaxy">
						<span ng-repeat="clusterentry in cluster.GalaxyCluster">{{cluster.name}}: {{clusterentry.value}}</span>
					</div>
				</dd>
			</dl>
			<dl class="dl-horizontal" ng-if="event.Event.RelatedEvent.length > 0">
				<dt>Related events:</dt>
				<dd>
					<div ng-repeat="rel in event.Event.RelatedEvent">
						<a target="_blank" href="{{res.url}}/events/view/{{rel.Event.id}}">{{rel.Event.info}}</a><br />
					</div>
				</dd>
			</dl>
		</div>
	</div>
</div>
