<div class="panel panel-info" ng-if="success">
	<div class="panel-heading">
		CERT.at Passive DNS Report
	</div>
	<div class="panel-body">
		<div ng-repeat="r in content.results">
			<dl class="dl-horizontal" ng-if="r.rraddress">
				<dt>
					IP
				</dt>
				<dd>
					{{r.rrtype}}: {{r.rraddress}}
				</dd>
			</dl>
			<dl class="dl-horizontal" ng-if="r.rrdname">
				<dt>
					Domain
				</dt>
				<dd>
					{{r.rrtype}}: {{r.rrdname}}
				</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>
					Name
				</dt>
				<dd>
					{{r.rrname}}
				</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>
					First seen
				</dt>
				<dd>
					{{r.seenfirst}}
				</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>
					Last seen
				</dt>
				<dd>
					{{r.seenlast}}
				</dd>
			</dl>
			<hr />
		</div>
	</div>
</div>
<div class="panel panel-danger" ng-if="!success">
	<div class="panel-heading">
		CERT.at Passive DNS Report <b>Error</b>
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt>Error: </dt>
			<dd>{{content.error}}</dd>
		</dl>
	</div>
</div>