<!-- Node found -->
<div class="panel panel-danger" ng-if="success && content.results.node">
	<div class="panel-heading">
		Tor Project
	</div>
	<div class="panel-body">
		Exit node found: {{content.results.node}} updated at {{content.results.last_status}}
	</div>
</div>

<!-- Empty result -->
<div class="panel panel-success" ng-if="success && !content.results.node">
	<div class="panel-heading">
		Tor Project
	</div>
	<div class="panel-body">
		<b>Not a known exit node.</b>
	</div>
</div>

<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
