<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>

<dl class="dl-horizontal" ng-if="content.errortext">
	<dt><i class="fa fa-warning"></i> ERROR: </dt>
	<dd class="wrap">{{content.errortext}}&nbsp;</dd>
</dl>

<div class="panel panel-info" ng-if="success" ng-repeat="(title, searches) in content">
	<div class="panel-heading">
		IBM QRadar Search Results: {{title}}
	</div>
	
	<div class="panel-body" ng-if="searches.result_found">
        <dl class="dl-horizontal">
    
            <h3>Event summary</h3>
    
            <table class="table table-hover">
        		<tr">
        		    <th>First sent</th>
        			<td>{{searches.first_seen}}</td>
        		</tr>
        		<tr">
        		    <th>Last seen</th>
        			<td>{{searches.last_seen}}</td>
        		</tr>
        		<tr">
        		    <th>Result count</th>
        			<td>{{searches.result_count}}</td>
        		</tr>
    		</table>
    		
    		<h3>Event samples</h3>
    		
    		<table class="table table-hover" ng-if="searches.result_found">
        		<tr>
        		    <th ng-repeat="(field, value) in searches.results[0]">{{field}}</th>
        		</tr>
        		<tr ng-repeat="result in searches.results">
        		    <td ng-repeat="(field, value) in result">{{value}}</td>
        		</tr>
    		</table>
		
		</dl>
	</div>
	
	<div class="panel-body" ng-if="!searches.result_found">
        <dl class="dl-horizontal">
		    No results found...
		</dl>
	</div>
</div>