<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        DNS resolutions of  <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dd ng-repeat="(domain, ip) in content.records">
                {{domain}}: {{ip}}
            </dd>
        </dl>

    </div>
</div>

<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
