<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        HIBP Data of <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
		<!-- Domain details -->
        <p ng-if="!content.CompromisedAccounts || content.CompromisedAccounts.length == 0">
            Account was not Compromised.
        </p>
		<!-- Accounts -->
        <p ng-if="content.CompromisedAccounts.length > 0">
          Compromised Accounts: {{content.CompromisedAccounts.length}}
        </p>
        <table class="table" ng-if="content.CompromisedAccounts && content.CompromisedAccounts.length > 0 && content.CompromisedAccounts[0].hasOwnProperty('IsVerified')">
            <thead>
                <th width="120px">IsVerified</th>
                <th>PwnCNT</th>
                <th>Domain</th>
                <th>IsSensitive</th>
                <th>Name</th>
                <th>Title</th>
                <th>DataClasses</th>
                <th>AddedDate</th>
            </thead>
            <tbody ng-repeat="r in content.CompromisedAccounts">
                <tr>
                    <td align="center">
                      <span><i class="fa" ng-class="{true: 'fa-check-circle text-success', false: 'fa-times-circle text-danger'}[r.IsVerified]"></i></span>
                    </td>
                    <td>{{r.PwnCount}}</td>
                    <td>{{r.Domain}}</td>
                    <td>{{r.IsSensitive}}</td>
                    <td>{{r.Name}}</td>
                    <td>{{r.Title}}</td>
                    <td><p ng-repeat="x in r.DataClasses">{{x}}</p></td>
                    <td>{{r.AddedDate}}</td>
                </tr>
                <tr>
                    <td colspan="8"><p>{{r.Description}}</p></td>
                </tr>
            </tbody>
        </table>
        <table class="table" ng-if="content.CompromisedAccounts && content.CompromisedAccounts.length > 0 && !content.CompromisedAccounts[0].hasOwnProperty('IsVerified')">
            <thead>
                <th>Name</th>
            </thead>
            <tbody ng-repeat="r in content.CompromisedAccounts">
                <tr>
                    <td>{{r.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
