<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>

<div class="panel panel-info" ng-if="success && content.message == null">
  <div class="panel-heading">CIRCL Hashlookup results</div>
            <dl class="dl-horizontal">
            <dt>Hashes</dt>  
            <dd class="wrap">
                    <b>CRC32:</b> {{content.CRC32 || '-'}}<br />
                    <b>MD5:</b> {{content.MD5 || '-'}}<br />
                    <b>SHA1</b>: {{content['SHA-1'] || '-'}}<br />
            </dd>
            <dt>File</dt>  
            <dd class="wrap">
                    <b>Filename:</b> {{content.FileName || '-'}}<br />
                    <b>Filesize:</b> {{content.FileSize || '-'}}<br />
            </dd>
            <dt>OpSystemCode</dt>  
            <dd class="wrap">
                    <b>MfgCode:</b> {{content.OpSystemCode.MfgCode || '-'}}<br />
                    <b>OpSystemCode:</b> {{content.OpSystemCode.OpSystemCode || '-'}}<br />
                    <b>OpSystemName:</b> {{content.OpSystemCode.OpSystemName || '-'}}<br />
                    <b>OpSystemVersion:</b> {{content.OpSystemCode.OpSystemVersion || '-'}}<br />
            </dd>
            <dt>ProductCode</dt>  
            <dd class="wrap">
                    <b>ApplicationType:</b> {{content.ProductCode.ApplicationType || '-'}}<br />
                    <b>Language:</b> {{content.ProductCode.Language || '-'}}<br />
                    <b>MfgCode:</b> {{content.ProductCode.MfgCode || '-'}}<br />
                    <b>OpSystemCode:</b> {{content.ProductCode.OpSystemCode || '-'}}<br />
                    <b>ProductCode:</b> {{content.ProductCode.ProductCode || '-'}}<br />
                    <b>ProductName:</b> {{content.ProductCode.ProductName || '-'}}<br />
                    <b>ProductVersion:</b> {{content.ProductCode.ProductVersion || '-'}}<br />
                    <b>SpecialCode:</b> {{content.ProductCode.SpecialCode || '-'}}<br />
            </dd>
</div>
<!-- No hits  -->
<div class="panel panel-info" ng-if="success && content.message != null">
     <div class="panel-heading">No hits</div>
            <dd>{{content.message}}</dd>  
</div>

<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>General Error: Please try again</strong>
    </div>
    <div class="panel-body">
    	<dl class="dl-horizontal" ng-if="content.errorMessage">
            <dt><i class="fa fa-warning"></i>CIRCL Hashlookup: </dt>
            <dd class="wrap">{{content.errorMessage}}"</dd>
        </dl>
    </div>
</div>
